In [1]:
import pandas as pd

df = pd.read_csv('data/ex4.csv')
df.head(3)

   class  dept_id  sex      score
0      3        0    1  60.170169
1      3        5    1  86.610078
2      2        6    1  69.761279

In [2]:
df['sex'].mean()

0.5133333333333333

In [3]:
df.groupby('class').mean()['score']

class
0    68.850195
1    69.510764
2    71.611092
3    67.572909
4    68.814253
Name: score, dtype: float64

In [4]:
pd.pivot_table(df, index='class', columns='sex', values='score')

sex            0          1
class
0      68.358569  69.274011
1      67.472218  71.379432
2      71.704884  71.532109
3      63.897676  72.013815
4      69.952314  67.676191

In [5]:
x_dummy = pd.get_dummies(df['dept_id'], drop_first=True)
df2 = pd.concat([df, x_dummy], axis=1)
df2 = df2.drop('dept_id', axis=1)
df2

     class  sex      score      1      2      3      4      5      6
0        3    1  60.170169  False  False  False  False  False  False
1        3    1  86.610078  False  False  False  False   True  False
2        2    1  69.761279  False  False  False  False  False   True
3        2    1  62.597242  False  False  False  False   True  False
4        0    0  73.777754   True  False  False  False  False  False
..     ...  ...        ...    ...    ...    ...    ...    ...    ...
295      3    0  78.099285  False  False  False   True  False  False
296      4    0  54.043671   True  False  False  False  False  False
297      2    1  74.705880  False  False   True  False  False  False
298      2    0  60.102534  False   True  False  False  False  False
299      1    1  77.748665  False  False   True  False  False  False

[300 rows x 9 columns]